
.centered-container {
    display: flex;
    flex-direction: column;  /* Aligns children vertically */
    justify-content: center; /* Centers content vertically in the container */
    align-items: center;     /* Centers content horizontally in the container */
    gap: 10px;
    height: 100vh;           /* Full viewport height */
}


.list-group-item {
    display: flex; /* Make the list item a flex container */
    justify-content: space-between; /* Space out the item text and the button */
    align-items: center; /* Vertically align content */
    padding: 10px; /* Optional: Adjust padding for better spacing */
  }

  .list-group-item span {
    flex-grow: 1; /* Makes the text take up all available space */
  }
  
  .remove-button {
    margin-left: 80px; /* Adds extra spacing between the text and button */
  }
  .remove-button:hover {
    transform: scale(1.2);
  }

  .delete-all-button {
    margin-top: 10px; /* Adds extra spacing between the text and button */
  }

  .delete-all-button:hover {
    transform: scale(1.2);
  }

  .return-to-recipe-button {
    height: 50px;
    width: 200px;
  }
  
  .img-thumbnail{
    margin-right: 20px; /* Adds extra spacing between the text and button */
    height: 50px;
    width: 50x;
  }

  .return-to-recipe-button:hover {
    transform: scale(1.2);
  }

#display_image{
  width: 375px;
  height: 211px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}